*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 135px 1fr 135px;
  margin: 0 auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  max-width: 1140px;
  grid-row-start: 2;
  justify-self: center;
  display: flex;
  align-items: end;
  gap: 30px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 15px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: end;
  align-items: end;
  gap: 40px;
}

.search-form__fieldset-title {
  appearance: none;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 170%;
}

.search-form__label {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: white;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.button {
  color: #fff;
  background-color: transparent;
  text-align: center;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  border: 1px solid #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  min-height: 34px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__list {
  position: relative;
  height: 298px;
  margin-block-start: 23px;
  overflow: hidden auto;
}

.content__list-item {
  max-width: 400px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}
.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__accent {
  color: #545050;
}

.content__video-card {
  display: grid;
  margin-right: 0;
  grid-template-columns: 1fr 194px;
  align-content: start;
}

.content__video-card-title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 1px;
  margin-bottom: 2px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 90%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: fill;
  object-position: center;
}

.more-button {
  width: 100%;
  margin-bottom: 2px;
}
